/* Dark Theme */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: #0d0d0d;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    background: #111;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #222;
}

.header h2 {
    margin: 0;
    font-weight: 600;
}

/* Page Container */
.container {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
}

/* Search + Filter */
.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-bar input,
.top-bar select {
    padding: 12px;
    border: 1px solid #444;
    background: #111;
    color: white;
    border-radius: 6px;
    width: 48%;
}

/* Table */
.table-container {
    overflow-x: auto;
    border: 1px solid #222;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #141414;
}

thead th {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #222;
}

tbody td {
    padding: 14px;
    border-bottom: 1px solid #1c1c1c;
}

/* Status */
.status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
}

.status.active {
    background: #0f722c;
}

.status.inactive {
    background: #702d2d;
}

/* View Button */
.view-btn {
    padding: 8px 14px;
    background: white;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.view-btn:hover {
    opacity: 0.8;
}

/* Responsive */
@media (max-width: 600px) {
    .top-bar {
        flex-direction: column;
    }

    .top-bar input,
    .top-bar select {
        width: 100%;
        margin-bottom: 12px;
    }

    table {
        font-size: 13px;
    }
}
