* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 18px 25px;
    background: #0d0d0d;
    border-bottom: 1px solid #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.tracking-container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    display: flex;
    gap: 40px;
}

/* LEFT SIDE */
.left {
    flex: 1.5;
}

.order-id span {
    color: #0af;
}

.timeline {
    margin-top: 25px;
}

.step {
    position: relative;
    margin-bottom: 25px;
}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #555;
    background: #111;
}

.step p {
    margin-left: 35px;
    margin-top: -20px;
    font-size: 16px;
}

.step span {
    margin-left: 35px;
    color: #aaa;
    font-size: 13px;
}

/* LINES */
.line {
    width: 2px;
    height: 40px;
    background: #333;
    margin: -10px 0 10px 8px;
}

/* COMPLETED STEPS */
.step.completed .circle {
    background: #0af;
    border-color: #0af;
}

.line.completed {
    background: #0af;
}

/* CURRENT STEP */
.step.current .circle {
    background: orange;
    border-color: orange;
}

/* RIGHT SIDE */
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    background: #111;
    padding: 20px;
    border: 1px solid #222;
    border-radius: 10px;
}

.box h3 {
    margin-bottom: 10px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.price-row.total {
    font-weight: bold;
    margin-top: 8px;
}

/* RESPONSIVE */
@media (max-width: 850px) {
    .tracking-container {
        flex-direction: column;
    }
}
