body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: white;
}

/* NAVBAR */
.navbar {
    padding: 16px 24px;
    background: #000;
    border-bottom: 1px solid #333;
}
.logo {
    margin: 0;
    font-size: 1.6rem;
}
.logo img{
    height: 42px;
}
/* CENTER CONTAINER */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

/* SUCCESS BOX */
.success-box {
    background: #0e0e0e;
    border: 1px solid #333;
    padding: 40px 30px;
    border-radius: 12px;
    text-align: center;
    max-width: 450px;
    width: 100%;
}

/* TICK ICON */
.tick-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 0 auto 20px;
}

/* TEXT */
.success-box h1 {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.subtext {
    margin-top: 10px;
    color: #ccc;
    line-height: 1.5;
}

/* ORDER INFO */
.order-info {
    margin: 20px 0;
    text-align: left;
    background: #111;
    border: 1px solid #222;
    padding: 15px;
    border-radius: 8px;
}

.order-info p {
    margin: 6px 0;
    color: #ddd;
}

/* BUTTONS */
.btn-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 25px;
}

.btn {
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.primary {
    background: white;
    color: black;
}

.primary:hover {
    background: #ddd;
}

.secondary {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.secondary:hover {
    background: white;
    color: black;
}

/* MOBILE */
@media (max-width: 480px) {
    .success-box {
        padding: 30px 20px;
    }
}
