/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #000;
    color: white;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 240px;
    height: 100vh;
    background: #0d0d0d;
    border-right: 1px solid #222;
    padding: 25px 18px;
    position: fixed;
}

.logo {
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
}

.menu {
    list-style: none;
}

.menu li {
    margin: 18px 0;
}

.menu a {
    text-decoration: none;
    color: #bbb;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
}

.menu a:hover,
.menu a.active {
    background: #1a1a1a;
    color: white;
}

.logout {
    margin-top: 30px;
    color: #ff4d4d !important;
}

/* Main Content */
.content {
    margin-left: 260px;
    padding: 30px;
    width: 100%;
}

.title {
    font-size: 26px;
    margin-bottom: 20px;
}

/* Stats Boxes */
.stats-box {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.stat-card {
    background: #111;
    border: 1px solid #222;
    border-radius: 12px;
    padding: 18px;
    flex: 1;
    display: flex;
    gap: 15px;
    align-items: center;
}

.stat-card .icon {
    font-size: 28px;
    color: #0abfff;
}

/* Table Card */
.table-card {
    background: #111;
    padding: 20px;
    border: 1px solid #222;
    border-radius: 12px;
    margin-top: 10px;
}

.table-card h2 {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    background: #1a1a1a;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #222;
}

th {
    color: #bbb;
    text-align: left;
}

/* Settlement History */
.settlement-card {
    background: #111;
    border: 1px solid #222;
    padding: 20px;
    border-radius: 12px;
    margin-top: 30px;
}

.settlement {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #222;
}

.settlement:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.date {
    color: #888;
}
