/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #000;
    color: white;
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    height: 100vh;
    background: #0d0d0d;
    border-right: 1px solid #222;
    padding: 25px 18px;
    position: fixed;
}

.logo {
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
}

.menu {
    list-style: none;
}

.menu li {
    margin: 18px 0;
}

.menu a {
    text-decoration: none;
    color: #bbb;
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
}

.menu a:hover,
.menu a.active {
    background: #1a1a1a;
    color: #fff;
}

.logout {
    margin-top: 30px;
    color: #ff4d4d !important;
}

/* CONTENT */
.content {
    margin-left: 260px;
    padding: 30px;
    width: 100%;
}

.title {
    font-size: 26px;
    margin-bottom: 20px;
}

/* Notification Cards */
.notif-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notif-card {
    background: #111;
    padding: 18px;
    border-radius: 10px;
    display: flex;
    gap: 18px;
    border: 1px solid #222;
}

.icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.new-customer {
    background: #007bff33;
}

.order {
    background: #ffb40033;
}

.delivered {
    background: #00ff7333;
}

.payment {
    background: #8a2be233;
}

.info h3 {
    margin-bottom: 6px;
}

.time {
    font-size: 12px;
    color: #888;
}
