* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #0d0d0d;
    color: #fff;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: #111;
    height: 100vh;
    padding: 20px;
    border-right: 1px solid #222;
}

.logo {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
}

.menu {
    list-style: none;
}

.menu li {
    margin-bottom: 15px;
}

.menu a {
    text-decoration: none;
    color: #ccc;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border-radius: 6px;
    transition: 0.3s;
}

.menu a:hover,
.menu .active {
    background: #222;
    color: #fff;
}

/* Main Section */
.main {
    flex: 1;
    padding: 30px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.page-title {
    font-size: 28px;
}

.btn-add {
    background: #fff;
    padding: 10px 18px;
    color: #000;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-add:hover {
    background: #ccc;
}

/* Card */
.table-card {
    background: #151515;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #222;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px 12px;
    border-bottom: 1px solid #222;
    text-align: left;
}

th {
    color: #bbb;
    font-size: 15px;
}

.p-img {
    width: 55px;
    height: 55px;
    border-radius: 6px;
    object-fit: cover;
}

/* Status Badges */
.badge {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 12px;
}

.green {
    background: #1a6f1a;
    color: #c0ffc0;
}

.red {
    background: #8a0000;
    color: #ffcaca;
}

/* Actions */
.btn {
    background: #222;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 6px;
    color: #ddd;
}

.btn:hover {
    background: #333;
}

.edit {
    color: #5bb3ff;
}

.delete {
    color: #ff6b6b;
}
