/* General Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    width: 100%;
    padding: 18px 25px;
    background: #0d0d0d;
    border-bottom: 1px solid #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border: 2px solid white;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.btn {
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 6px;
    transition: 0.2s;
}

.btn:hover {
    background: white;
    color: black;
}

/* Product Layout */
.product-container {
    display: flex;
    padding: 40px 20px;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Left Image */
.image-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.main-img {
    width: 100%;
    max-width: 420px;
    border-radius: 12px;
    border: 1px solid #222;
}

/* Right Details */
.details {
    flex: 1.2;
}

/* Title */
.title {
    font-size: 28px;
    margin-bottom: 10px;
}

/* Description */
.desc {
    color: #ccc;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Price Section */
.price-box, .total-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #222;
    padding: 10px 0;
}

.total-label {
    font-size: 18px;
    font-weight: bold;
}

.total-value {
    font-size: 18px;
    font-weight: bold;
}

/* Quantity */
.qty-label {
    display: block;
    margin-top: 20px;
    margin-bottom: 8px;
}

.qty-select {
    padding: 10px;
    width: 100%;
    background: #111;
    color: white;
    border: 1px solid #222;
    border-radius: 8px;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.add-cart, .buy-now {
    flex: 1;
    padding: 14px 0;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.add-cart {
    background: #fff;
    color: black;
}

.buy-now {
    background: #111;
    color: white;
    border: 1px solid #fff;
}

.buy-now:hover {
    background: #fff;
    color: black;
}

/* Responsive */
@media (max-width: 850px) {
    .product-container {
        flex-direction: column;
        text-align: center;
    }

    .details {
        margin-top: 20px;
    }

    .buttons {
        flex-direction: column;
    }
}
