* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

.page-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
}

/* Filters */
.filters {
    display: flex;
    gap: 20px;
    background: #111;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #222;
    flex-wrap: wrap;
}

.filters div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.filters input,
.filters select {
    padding: 10px;
    background: #0d0d0d;
    border: 1px solid #222;
    color: white;
    border-radius: 6px;
}

.filter-btn {
    padding: 0px 42px;
    background: white;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    box-sizing: border-box;
   margin-top: 22px;
}

.filter-btn:hover {
    opacity: 0.9;
}

/* Table */
.table-box {
    margin-top: 30px;
    background: #111;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #222;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #0d0d0d;
}

th, td {
    padding: 14px;
    border-bottom: 1px solid #222;
    text-align: left;
}

th {
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0.8;
}

.status {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
}

.status.paid {
    background: #1e982f;
}

.status.pending {
    background: #c49617;
}

.status.failed {
    background: #c72626;
}

/* Responsive */
@media (max-width: 700px) {
    .filters {
        flex-direction: column;
    }

    th, td {
        font-size: 13px;
        padding: 10px;
    }
}
