/* Page Setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.page {
  background: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

/* Card */
.card {
  width: 100%;
  max-width: 420px;
  background: #0f0f0f;
  border: 1px solid #222;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.05);
}

/* Logo */
.logo-box {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.logo {
  width: 48px;
  height: 48px;
 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
}

/* Heading */
.title {
  color: #fff;
  font-size: 32px;
  text-align: center;
  font-weight: 800;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

/* Form Inputs */
.form .input-group {
  margin-bottom: 24px;
}

.form label {
  display: block;
  margin-bottom: 6px;
  color: #a3a3a3;
  font-size: 14px;
}

.form input {
  width: 100%;
  padding: 14px 16px;
  background: #050505;
  border: 1px solid #222;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  transition: 0.2s ease;
}

.form input::placeholder {
  color: #666;
}

.form input:focus {
  outline: none;
  border-color: #fff;
  box-shadow: 0 0 0 2px #fff;
}

/* Button */
.btn {
  width: 100%;
  padding: 14px;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.btn:hover {
  background: #e5e5e5;
}

.btn:active {
  background: #ccc;
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 26px;
  color: #777;
  font-size: 14px;
}

.footer a {
  color: #fff;
  text-decoration: underline;
}

.footer a:hover {
  color: #ccc;
}


.custom-toast-container{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-toast{
  width: 250px;
  background: #fff;
  color: #333;
  border-radius: 6px;
  padding: 12px 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  opacity: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  transition: all 0.35s ease;
  border-left: 4px solid #0d6efd; /* blue accent */
}

.custom-toast.show{
  opacity: 1;
  transform: translateX(0);
}

.custom-toast-header{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 6px;
}

.custom-toast-close{
  cursor: pointer;
  font-size: 14px;
  padding-left: 10px;
}
